@model Page
@{
    Layout = "~/Pages/Shared/_PagesLayout.cshtml";
    var wikihome = Site.Pages.BreadcrumpTo(Model).ElementAt(1);

}
<div class="row">
    <div class="col s12 m8">
        <h2>@Model.Title</h2>
        @RenderBody()
    </div>
    <div class="col s12 m4">
        <h2>TOC</h2>
        <page-tree page="@wikihome" self="true" selected="@Model" />
    </div>
</div>