@*
    {
        id: "getting-started",
        title: "Getting started",
        parent: "wiki",
        slug: "getting-started",
        order: 1
    }
*@
@model Page
<p>
    First do this
</p>
<p>
    Then do that
</p>