@*
    {
        id: "home",
        title: "Home"
    }
*@
@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}
@model Page
<div class="row">
    <div class="col s12">
        <h2>@Model.Title</h2>
    </div>
</div>
