@*
  {
      id: "",
      parent: "fullstack-fi",
      order: 2,
      slug: "html",
      title: "HTML",
      author: "Mike Koder",
      published: "2019-10-02",
      categories: ["html"],
      tags: [],
      excerpt: ""
  }
*@
@model Page
<md>
  HTML on verkkosivuissa käytetty kuvauskieli. Se muodostuu erilaisista elementeistä, jotka voivat olla peräkkäin tai sisäkkäin.

  ```
  <html>
    <head>
      <title>Sivun otsikko</title>
    </head>
    <body>
      Sivun sisältö
    </body>
  </html>
  ```
</md>