@*
    {
        id: "",
        parent: "blog",
        slug: "first-post",
        title: "First post",
        author: "John Doe",
        published: "2017-03-23",
        categories: ["lorem"],
        tags: ["tag1","tag2"],
        excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non massa id risus sagittis scelerisque. Pellentesque scelerisque ultrices sem, eu gravida metus scelerisque sit amet. Integer consectetur dolor justo, eget vehicula risus placerat eu. Nulla ut erat sit amet magna pulvinar tempor. Phasellus tincidunt consequat erat, eget molestie ex. Vestibulum mollis nisl id nisl viverra molestie. Proin nec consectetur magna. Morbi lobortis dui leo, quis euismod nisl accumsan sed. Nullam efficitur felis tempor tortor commodo, ut blandit nisl porttitor. Nullam volutpat aliquam est, et varius mauris aliquam vitae. Integer porta massa sed urna sodales placerat."
    }
*@
@model Page
<md>
**Code snippet**
```
var list = new List<Page>();
```
    
**Link to another page using page title as text**  
<page-link page-id="home" />  
**Link to another page with link text defined**  
<page-link page-id="blog">To the blog</page-link>


  <tabs>
    <div tab-title="Tab 1">Tab 1 content</div>
    <div tab-title="Tab 2">Tab 2 content</div>
  </tabs>

  <collapsible>
    <div collapsible-title="Item 1" collapsible-icon="place">Item 1 content</div>
    <div collapsible-title="Item 2">Item 2 content</div>
  </collapsible>
</md>